@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #fff;
}

* {
  font-family: "Roboto", sans-serif !important;
}

/* Navbar */
.navbar {
  background-color: #f8f9fa !important;
  padding: 20px;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  -webkit-backface-visibility: hidden;
}
